<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LeanCanvasEditor</title>

    <link
      rel="stylesheet"
      href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css" />
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
  </head>
  <body>
    <div id="app">
      <b-navbar>
        <template slot="brand">
          <b-navbar-item>
            <h1 class="title">LCE</h1>
            <h1 class="subtitle">：リーンキャンバスエディタ</h1>
          </b-navbar-item>
        </template>

        <template slot="start"> </template>

        <template slot="end">
          <b-navbar-item tag="div">
            <div class="buttons">
              <b-field class="file">
                <b-button
                  type="is-danger"
                  icon-left="delete"
                  @click="confirmClear()"
                  outlined
                >
                  クリア
                </b-button>
                <b-upload v-model="file">
                  <a class="button is-primary">
                    <b-icon icon="import"></b-icon>
                    <span>JSONインポート</span>
                  </a>
                </b-upload>
                <span class="file-name" v-if="file">
                  {{ file.name }}
                </span>
                <b-button
                  type="is-info"
                  icon-left="export"
                  @click="exportJson(JSON.stringify(canvas),'leanCanvasData.json')"
                >
                  JSONエクスポート
                </b-button>
              </b-field>
            </div>
          </b-navbar-item>
        </template>
      </b-navbar>

      <section class="section">
        <b-field label="タイトル">
          <b-input v-model="canvas.title"></b-input>
        </b-field>
        <b-field label="リーンキャンバス"> </b-field>
        <div class="tile is-ancestor">
          <div class="tile is-vertical">
            <div class="tile">
              <div class="tile is-parent">
                <article
                  class="tile is-child notification"
                  :class="[canvas.problem && canvas.existing_alternatives ? 'card': 'is-warning']"
                >
                  <p class="subtitle is-6">2．何故お客様は喜んでくれる？</p>
                  <b-field label="課題" label-position="on-border">
                    <b-input
                      :maxlength="maxLength"
                      type="textarea"
                      v-model="canvas.problem"
                    ></b-input>
                  </b-field>
                  <b-field label="既存の代替品" label-position="on-border">
                    <b-input
                      :maxlength="maxLength"
                      type="textarea"
                      v-model="canvas.existing_alternatives"
                    ></b-input>
                  </b-field>
                </article>
              </div>
              <div class="tile is-parent is-vertical">
                <article
                  class="tile is-child notification"
                  :class="[canvas.solution ? 'card': 'is-warning']"
                >
                  <p class="subtitle is-6">4．具体的に何を提供する？</p>
                  <b-field label="ソリューション" label-position="on-border">
                    <b-input
                      :maxlength="maxLength"
                      type="textarea"
                      v-model="canvas.solution"
                    ></b-input>
                  </b-field>
                </article>
                <article
                  class="tile is-child notification"
                  :class="[canvas.key_metrics ? 'card': 'is-warning']"
                >
                  <p class="subtitle is-6">8．喜んだことをどうやって知る？</p>
                  <b-field label="主要指数" label-position="on-border">
                    <b-input
                      :maxlength="maxLength"
                      type="textarea"
                      v-model="canvas.key_metrics"
                    ></b-input>
                  </b-field>
                </article>
              </div>
              <div class="tile is-parent">
                <article
                  class="tile is-child notification"
                  :class="[canvas.unique_value_proposition && canvas.hightlevel_concept ? 'card': 'is-warning']"
                >
                  <p class="subtitle is-6">
                    3．なぜお客様は我々から買いたくなる？
                  </p>
                  <b-field label="独自の価値提供" label-position="on-border">
                    <b-input
                      :maxlength="maxLength"
                      type="textarea"
                      v-model="canvas.unique_value_proposition"
                    ></b-input>
                  </b-field>
                  <b-field label="わかりやすいコンセプト" label-position="on-border">
                    <b-input
                      :maxlength="maxLength"
                      type="textarea"
                      v-model="canvas.hightlevel_concept"
                    ></b-input>
                  </b-field>
                </article>
              </div>
              <div class="tile is-parent is-vertical">
                <article
                  class="tile is-child notification"
                  :class="[canvas.unfair_advantage ? 'card': 'is-warning']"
                >
                  <p class="subtitle is-6">
                    9．なぜ我々は喜ばせることができる？
                  </p>
                  <b-field label="圧倒的な優位性" label-position="on-border">
                    <b-input
                      :maxlength="maxLength"
                      type="textarea"
                      v-model="canvas.unfair_advantage"
                    ></b-input>
                  </b-field>
                </article>
                <article
                  class="tile is-child notification"
                  :class="[canvas.channels ? 'card': 'is-warning']"
                >
                  <p class="subtitle is-6">
                    5．どうやってコミュニケーションする？
                  </p>
                  <b-field label="チャネル" label-position="on-border">
                    <b-input
                      :maxlength="maxLength"
                      type="textarea"
                      v-model="canvas.channels"
                    ></b-input>
                  </b-field>
                </article>
              </div>
              <div class="tile is-parent">
                <article
                  class="tile is-child notification"
                  :class="[canvas.customer && canvas.early_adaptor ? 'card': 'is-warning']"
                >
                  <p class="subtitle is-6">1．誰に喜んでほしい？</p>
                  <b-field label="顧客セグメント" label-position="on-border">
                    <b-input
                      :maxlength="maxLength"
                      type="textarea"
                      v-model="canvas.customer"
                    ></b-input>
                  </b-field>
                  <b-field label="アーリーアダプター" label-position="on-border">
                    <b-input
                      :maxlength="maxLength"
                      type="textarea"
                      v-model="canvas.early_adaptor"
                    ></b-input>
                  </b-field>
                </article>
              </div>
            </div>
            <div class="tile">
              <div class="tile is-parent">
                <article
                  class="tile is-child notification"
                  :class="[canvas.cost_structure ? 'card': 'is-warning']"
                >
                  <p class="subtitle is-6">7．コストはどれくらいかかる？</p>
                  <b-field label="コスト構造" label-position="on-border">
                    <b-input
                      :maxlength="maxLength"
                      type="textarea"
                      v-model="canvas.cost_structure"
                    ></b-input>
                  </b-field>
                </article>
              </div>
              <div class="tile is-parent">
                <article
                  class="tile is-child notification"
                  :class="[canvas.revenue_streams ? 'card': 'is-warning']"
                >
                  <p class="subtitle is-6">
                    6．結果として我々には何がもたらされる？
                  </p>
                  <b-field label="収入の流れ" label-position="on-border">
                    <b-input
                      :maxlength="maxLength"
                      type="textarea"
                      v-model="canvas.revenue_streams"
                    ></b-input>
                  </b-field>
                </article>
              </div>
            </div>
          </div>
        </div>

        <b-field label="メモ">
          <b-input
            :maxlength="maxLength"
            type="textarea"
            v-model="canvas.memo"
          ></b-input>
        </b-field>
      </section>
    </div>

    <script>
      let app = new Vue({
        el: "#app",
        data() {
          return {
            maxLength: 200,
            file: null,
            canvas: {
              title: "service-name",
              memo: "memo",
              // 顧客
              customer: "1_a",
              // アーリーアダプター
              early_adaptor: "1_b",

              // 課題
              problem: "2_a",
              // 代替品
              existing_alternatives: "2_b",

              // 独自の価値提案
              unique_value_proposition: "3_a",
              // 分かりやすいコンセプト
              hightlevel_concept: "3_b",

              // ソリューション
              solution: "4",

              // チャネル
              channels: "5",

              // 収入の流れ
              revenue_streams: "6",

              // コスト構造
              cost_structure: "7",

              // 主要指標
              key_metrics: "8",

              // 圧倒的な優位性
              unfair_advantage: "9",
            },
          };
        },
        methods: {
          exportJson(content, fileName) {
            var a = document.createElement("a");
            var file = new Blob([content], { type: "text/plain" });
            a.href = URL.createObjectURL(file);
            a.download = fileName;
            a.click();
          },
          confirmClear() {
            let self = this;
            this.$buefy.dialog.confirm({
              title: "クリア",
              message: "現在のキャンバスをクリアしますか？",
              confirmText: "クリアする",
              cancelText: "キャンセル",
              type: "is-danger",
              hasIcon: true,
              onConfirm: () => {
                self.file = null;
                self.canvas = {};
                self.$buefy.toast.open("キャンバスをクリアしました");
              },
            });
          },
        },
        watch: {
          file: function (o, n) {
            if (!o) {
              return;
            }

            var reader = new FileReader();
            let self = this;
            reader.onload = (e) => {
              try {
                let readData = JSON.parse(e.target.result);
                // キャンバスに読み込み
                self.canvas = readData;
                self.$buefy.toast.open({
                  duration: 3000,
                  message: "キャンバスを読み込みました",
                  type: "is-success",
                });
              } catch {
                // 読み込みファイルをクリア
                self.file = null;
                this.$buefy.toast.open({
                  duration: 3000,
                  message: "読み込み失敗",
                  type: "is-danger",
                });
              }
            };
            reader.readAsText(o);
          },
        },
      });
    </script>
  </body>
</html>
